<h1>Result</h1>
<div ng-if="list.isEmpty()">Nothing found</div>

<div ng-if="list.found">
	<table  border =1 >
		<tr ng-style= "{'background-color':'blue'}"   >
			<td><font color ='white'>Item Name </font></td>
			<td><font color ='white'>Short Name</font></td>
			<td><font color ='white'>Description </font></td>
			<td><font color ='white'>Remove</font></td>
			</tr>
		<tr  ng-repeat="item in list.found">
			<td> {{item.name | uppercase}}</td>
			<td> {{item.short_name}}</td>
			<td>{{item.description}}</td>
			<td><button ng-click="list.onRemove({index: $index});">Remove This</button></td>
		</tr>
	</table>
</div>
 
